<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Cadastro de Funcionários - Academia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

       <!-- Script para qnd for add, apareça os cargos disponíveis, script para alterar tbm -->
    <script>
        $(document).ready(function () {
            function getCargo() { 
                $.ajax({
                    url: "/cargo/listar", 
                    type: "GET", 
                    dataType: "json", 
                    success: function (res) { 
                        $("#inputCargo").html("<option selected>(Selecione um cargo)</option>");
                        $.each(res.resultado, function (key, value) {
                            $("#inputCargo").append( 
                                "<option value=" + value.id_cargo + ">" + value.nome_cargo + "</option>"
                            );
                        });
                    },
                    error: function() {
                        alert("Erro ao carregar cargos.");
                    }
                });
            }

            function setCargo() {
                $.ajax({
                    success: function (res) {
                        let cargo = $("#id_cargo").val();
                        console.log(cargo);
                        $("#inputCargo option").each(function () {
                            if ($(this).val() == cargo) {
                                $("#inputCargo option[value='" + cargo + "']").attr('selected', 'selected');
                            }
                        });
                    },
                });
            }

            getCargo();
            setCargo();
        });


        function altera(Matricula){
            $.ajax({
                url: "/funcionario/editar/" + Matricula,
                type: "PUT",
                data: "nome=" + $("#inputNome").val() + "&cargo=" + $("#inputCargo").val() +
                 "&contato=" + $("#inputTelefone").val() + "&cpf=" + $("#inputCpf").val() + 
                 "&nascimento=" + $("#inputDataNascimento").val(),
                success: function (res){
                    $(location).attr('href', '/funcionario/listar');
                },
            });
            }




    </script>
   <!-- Estilização da página-->
<style>
    body {
        font-family: Arial, sans-serif;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f5f5f5;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    label {
        font-size: 16px;
        font-weight: bold;
    }

    .input-wrapper {
        position: relative;
        display: flex;
        align-items: center;
    }

    input[type="date"] {
        width: 200px;
        padding: 10px;
        padding-left: 35px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        background-color: white;
        appearance: none;
    }

    .icon {
        position: absolute;
        left: 10px;
        pointer-events: none;
        font-size: 18px;
        color: #007bff;
    }

</style>

</head>

<body>
    <div class="container mt-5">
        <% if (resultado.Matricula) { %>
            <input type="hidden" id="id_cargo" name="id_cargo" value="<%= resultado.id_cargo %>">
            <h1 class="mb-4">Alterar Funcionários</h1>
            <form method="#" action="/funcionario/editar/<%= resultado.Matricula %>" class="row g-3">
        <% } else { %>
            <h1 class="mb-4">Cadastro de Funcionários</h1>
            <div id="mensagem" class="alert d-none"></div>
            <form method="POST" action="/funcionario/add" id="cadastroForm" class="row g-3">
        <% } %>
        



            <div class="col-md-6">
                <label for="inputNome" class="form-label">Nome</label>
                <% if (resultado.Matricula) {%>
                    <input type="text" class="form-control" id="inputNome" name="nome" placeholder="Digite o nome do funcionario" value="<%= resultado.Nome%>">
                    <%} else {%>
                        <input type="text" class="form-control" id="inputNome" name="nome" placeholder="Digite o nome do funcionario" required>
                        <%}%>
            </div>



           
            <div class="col-md-6">
                <label for="inputTelefone" class="form-label">Telefone</label>
                <% if (resultado.Matricula) {%>
                <input type="text" class="form-control" id="inputTelefone" name="telefone" placeholder="(84) 99999-9999"  value="<%= resultado.contato%>" >
                <%} else   {%>
                <input type="text" class="form-control" id="inputTelefone" name="telefone" placeholder="(84) 99999-9999" required>
                    <%}%>
            </div>



            <div class="col-md-6">
                <label for="inputCpf" class="form-label">CPF</label>
                <% if (resultado.Matricula) {%>
                <input type="text" class="form-control" id="inputCpf" name="cpf" placeholder="123.456.789-00"  value="<%= resultado.Cpf%>" >
                <%} else   {%>
                <input type="text" class="form-control" id="inputCpf" name="cpf" placeholder="123.456.789-00" required>
                    <%}%>
            </div>
            

            <div class="col-md-6">
                <label for="inputCargo" class="form-label">Cargo</label>
                <select id="inputCargo" class="form-select" name="cargo" required>
                    <option selected>Selecione um cargo</option>
                </select>
            </div> 


            <div class="input-container">
                <label for="inputDataNascimento">Data de Nascimento</label>
                <% if (resultado.Matricula) { %>
                    <div class="input-wrapper">
                        <span class="icon">📅</span>
                        <input type="date" id="inputDataNascimento" name="nascimento" value="<%= resultado.Aniversario %>">
                    </div>
                    
                <% } else { %>
                    <div class="input-wrapper">
                        <span class="icon">📅</span>
                        <input type="date" id="inputDataNascimento" name="nascimento" required>
                    </div>
                <% } %>




            </div>
            <div class="col-12">
                <% if (resultado.Matricula) { %>
                    <button type="button" onclick="altera(<%= resultado.Matricula %>)" class="btn btn-primary">Salvar</button>
                    <% } else { %>
                <button type="submit" class="btn btn-primary">Salvar</button>
                <% } %>
            </div>
        </form>
    </div>
</body>


    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/